server:
  port: ${APP_PORT:8080}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect

  task:
    scheduling:
      enabled: true
      pool:
        size: 3
      thread-name-prefix: "Scheduler - "

bot:
  username: ${TELEGRAM_BOT_USERNAME}
  token: ${TELEGRAM_BOT_TOKEN}
  firstAdminId: ${TELEGRAM_FIRST_ADMIN_ID}
  secondAdminId: ${TELEGRAM_SECOND_ADMIN_ID}
